project:
  type: website

website:
  title: "Quarto LMS Testing"
  navbar: false

format:
  html:
    toc: true
    code-fold: true
    css: styles.css
    include-after-body:
      - text: |
          <script>
          const sendHeight = () => {
            window.parent.postMessage(
              { type: 'iframeResize', height: document.body.scrollHeight },
              '*'
            );
          };
          new ResizeObserver(sendHeight).observe(document.body);
          sendHeight();
          </script>
